body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    margin: 24px;
}

.demo-child{
    background-color: #f7f7f9;
    padding: 14px;
}

.demo-child>p{
    color: rgb(230, 108, 20);
    font-weight: bold;
}
/* Nếu đổi thành ".demo-child p" (bỏ >), cả 3 đoạn cùng
được định dạng (kể cả trong div con)*/

.demo-hover{
    background-color: #f7f7f9;
    padding: 14px;
    text-align: center;
    font-weight: 900;
}

.demo-hover:hover{
    background-color: #030365;
    color: #fff;
    cursor: pointer; 
    /* thay đổi kiểu hiển thị của con trỏ chuột */
}

/* 4 trạng thái của link:
    1. :link - link chưa được ghé thăm
    2. :visited - link ĐÃ được ghé thăm
    3. :hover - đang được rê chuột
    4. :active - đang trong lúc BẤM */
.demo-link:link{
    color: rgb(230, 108, 20);
    text-decoration: none;
}
.demo-link:visited{
    color: #030365;
}
.demo-link:hover{
    color: rgb(112, 220, 5);
    text-decoration: underline;
}
.demo-link:active{
    color: crimson;
}

:root{
    --mau-chinh: rgb(230, 108, 20);
    --mau-phu:#030365;
    --khoang-dem: 14px;
}

.demo-root-box-1{
    background-color: var(--mau-chinh);
    color: #ffffff;
    padding: var(--khoang-dem);
    margin-bottom: 8px;
}

.demo-root-box-2{
    background-color: var(--mau-chinh);
    color: #ffffff;
    padding: var(--khoang-dem);
    margin-bottom: 8px;
}

.demo-nav ul{
    /* bỏ dấu chấm đen mặc định của ul */
    list-style: none;
    display: flex;
    background-color: var(--mau-phu);
    margin: 0;
    padding: 0;
}

.demo-nav li{
    /* chia đều không gian cho mỗi mục */
    flex: 1;
}

.demo-nav a{
    /* để toàn bộ ô có thể bấm, không chỉ riêng chữ */
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding-top: var(--khoang-dem);
    padding-bottom: var(--khoang-dem);
}

.demo-nav a:hover{
    background-color: chocolate;
}